* {
  padding: 0;
  margin: 0;
}

body {
  color: #f6f8fc;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
body .sectionOne {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1b3764;
}
body .sectionOne header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .sectionOne header .nav {
  height: 100%;
  width: 85%;
  background-color: #1b3764;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
body .sectionOne header .nav .pages {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
body .sectionOne header .nav .pages .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .sectionOne header .nav .pages .logo img {
  height: 25px;
  width: 25px;
}
body .sectionOne header .nav .pages .logo h3 {
  font-size: 28px;
}
body .sectionOne header .nav .pages .sosial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body .sectionOne header .nav .pages .sosial div {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f8fc;
  color: #1b3764;
}
body .sectionOne header .nav .list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body .sectionOne header .nav .list ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  font-size: 17px;
}
body .sectionOne header .nav .list ul a {
  color: #f6f8fc;
  text-decoration: none;
}
body .sectionOne header .nav .list .cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .sectionOne header .nav .list .cart i {
  font-size: 17px;
}
body .sectionOne header .nav .list .cart sup {
  height: 75px;
  width: 75px;
  background-color: rgb(255, 202, 66);
  font-size: 12px;
  border-radius: 50%;
  padding: 1px;
  color: rgb(27, 55, 100);
  font-weight: 700;
}
body .sectionOne header .nav .list button {
  height: 50px;
  width: 180px;
  background-color: rgb(255, 202, 66);
  color: rgb(27, 55, 100);
  font-size: 17px;
  border: none;
  font-weight: 700;
}
body .sectionOne header .nav .list .hamburgermenu {
  display: none;
  height: 100%;
  padding: 20px;
  width: 30%;
  background-color: #1b3764;
}
body .sectionOne header .nav .list .hamburgermenu ul {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body .sectionOne header .nav .list .hamburgermenu ul li {
  color: rgb(27, 55, 100);
  font-size: 20px;
  font-weight: 700;
}
body .sectionOne header .nav .list .hamburgermenu i {
  width: 100%;
  color: #f1f1f1;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
}
body .sectionOne header .nav .list .hamburgericon {
  display: none;
}
body .sectionOne .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 85%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 100px 0;
}
body .sectionOne .container h5 {
  font-size: 50px;
  text-align: center;
  color: #f6f8fc;
  font-weight: 700;
}
body .sectionOne .container .line {
  height: 3px;
  width: 60px;
  background-color: rgb(255, 202, 66);
}
body .sectionOne .container p {
  max-width: 50%;
  color: rgb(180, 199, 231);
  font-size: 19px;
  text-align: center;
}
body .sectionTwo {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 248, 255);
}
body .sectionTwo .container {
  height: 100%;
  width: 85%;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
body .sectionTwo .container h5 {
  font-size: 45px;
  color: #1b3764;
}
body .sectionTwo .container .line {
  height: 3px;
  width: 60px;
  background-color: rgb(255, 202, 66);
}
body .sectionTwo .container .articles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
body .sectionTwo .container .articles .box {
  height: 500px;
  width: 31%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body .sectionTwo .container .articles .box .info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .sectionTwo .container .articles .box img {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .sectionTwo .container .articles .box h1 {
  font-size: 24px;
  color: rgb(27, 55, 100);
  font-weight: 700;
  padding: 0 15px;
}
body .sectionTwo .container .articles .box p {
  font-size: 19px;
  color: rgb(150, 154, 160);
  padding: 0 15px;
}
body .sectionTwo .container .articles .box .read {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
body .sectionTwo .container .articles .box .read button {
  height: 25px;
  width: 90px;
  color: rgb(27, 55, 100);
  font-size: 15px;
  font-weight: 700;
  border: 1px solid rgb(27, 55, 100);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
}
body .sectionTwo .container .articles .box .read span {
  font-size: 15px;
  color: rgb(27, 55, 100);
}
body footer {
  background-color: rgb(27, 55, 100);
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer .container {
  background-color: rgb(27, 55, 100);
  height: 500px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body footer .container .sosialMedia {
  display: flex;
  flex-direction: column;
}
body footer .container .sosialMedia .pageS {
  display: flex;
  align-items: center;
  gap: 5px;
}
body footer .container .sosialMedia .pageS h2 {
  font-size: 28px;
}
body footer .container .sosialMedia .pageS img {
  height: 25px;
  width: 25px;
}
body footer .container .sosialMedia .media {
  display: flex;
  gap: 10px;
}
body footer .container .sosialMedia .media div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid rgb(255, 202, 66);
}
body footer .container .explore {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
body footer .container .explore h3 {
  font-size: 22px;
  font-weight: 700;
}
body footer .container .explore div ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: circle;
}
body footer .container .explore div ul li {
  font-size: 18px;
  color: rgb(180, 199, 231);
}
body footer .container .keep {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body footer .container .keep h3 {
  font-size: 22px;
}
body footer .container .keep .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
body footer .container .keep .info p {
  font-size: 18px;
  font-weight: 700;
}
body footer .container .keep .info span {
  font-size: 18px;
  font-weight: 400;
  color: rgb(180, 199, 231);
}
body footer .container .keep .info .address,
body footer .container .keep .info .mail,
body footer .container .keep .info .phone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 1024px) {
  body .sectionOne header .nav .list {
    gap: 14px;
  }
  body .sectionOne header .nav .list ul {
    gap: 10px;
  }
  body .sectionTwo .container .articles .box {
    height: 430px;
    width: 30%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  body .sectionTwo .container h5 {
    font-size: 40px;
  }
  body .sectionOne .container h5 {
    font-size: 45px;
  }
  body .sectionOne .container p {
    max-width: 55%;
  }
  body .sectionTwo .container .articles .box h1 {
    font-size: 22px;
  }
  body .sectionTwo .container .articles .box p {
    font-size: 17px;
  }
  body .sectionTwo .container .articles .box .read button {
    width: 75px;
    font-size: 14px;
  }
  body .sectionTwo .container .articles .box .read span {
    font-size: 14px;
    color: rgb(27, 55, 100);
  }
}
@media screen and (max-width: 912px) {
  body .sectionOne header .nav .list .hamburgericon {
    display: block;
    font-size: 18px;
  }
  body .sectionOne header .nav .list .hamburgermenu {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    z-index: 999;
  }
  body .sectionOne header .nav .list ul {
    display: none;
  }
  body .sectionOne header .nav .list .cart {
    display: none;
  }
  body .sectionOne header .nav .list button {
    display: none;
  }
  body .sectionOne .container h5 {
    font-size: 45px;
  }
  body .sectionOne .container p {
    max-width: 60%;
  }
  body .sectionTwo .container .articles .box h1 {
    font-size: 18px;
  }
  body .sectionTwo .container .articles .box p {
    font-size: 16px;
  }
  body .sectionTwo .container .articles .box {
    height: 400px;
  }
  body .sectionTwo .container .articles .box .read span {
    font-size: 12px;
    color: rgb(27, 55, 100);
  }
  body .sectionTwo .container .articles .box .read button {
    width: 62px;
    font-size: 12px;
  }
  body footer {
    display: none;
  }
  body .sectionTwo .container {
    padding: 70px 0;
  }
}
@media screen and (max-width: 768px) {
  body .sectionOne .container h5 {
    font-size: 40px;
  }
  body .sectionOne .container p {
    max-width: 100%;
  }
  body .sectionTwo .container h5 {
    font-size: 35px;
  }
  body .sectionTwo .container .articles .box {
    height: 400px;
    width: 46%;
  }
}
@media screen and (max-width: 540px) {
  body .sectionTwo .container .articles .box {
    height: 430px;
    width: 100%;
  }
  body .sectionOne header .nav .list .hamburgermenu {
    height: 100%;
    padding: 20px;
    width: 100%;
  }
  body .sectionOne header .nav .list .hamburgermenu.show {
    display: block;
  }
  body .sectionTwo .container h5 {
    font-size: 29px;
  }
  body .sectionOne .container h5 {
    font-size: 38px;
  }
  body .sectionOne header .nav .pages .sosial div {
    height: 40px;
    width: 40px;
  }
}/*# sourceMappingURL=articles.css.map */