* {
  padding: 0;
  margin: 0;
}

body {
  color: #f6f8fc;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
body .sectionOne {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1b3764;
}
body .sectionOne header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .sectionOne header .nav {
  height: 100%;
  width: 85%;
  background-color: #1b3764;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
body .sectionOne header .nav .pages {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
body .sectionOne header .nav .pages .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .sectionOne header .nav .pages .logo img {
  height: 25px;
  width: 25px;
}
body .sectionOne header .nav .pages .logo h3 {
  font-size: 28px;
}
body .sectionOne header .nav .pages .sosial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body .sectionOne header .nav .pages .sosial div {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f8fc;
  color: #1b3764;
}
body .sectionOne header .nav .list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body .sectionOne header .nav .list ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  font-size: 17px;
  cursor: pointer;
}
body .sectionOne header .nav .list ul a {
  color: #f6f8fc;
  text-decoration: none;
}
body .sectionOne header .nav .list .cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .sectionOne header .nav .list .cart i {
  font-size: 17px;
}
body .sectionOne header .nav .list .cart sup {
  height: 75px;
  width: 75px;
  background-color: rgb(255, 202, 66);
  font-size: 12px;
  border-radius: 50%;
  padding: 1px;
  color: rgb(27, 55, 100);
  font-weight: 700;
}
body .sectionOne header .nav .list button {
  height: 50px;
  width: 180px;
  background-color: rgb(255, 202, 66);
  color: rgb(27, 55, 100);
  font-size: 17px;
  border: none;
  font-weight: 700;
}
body .sectionOne header .nav .list .hamburgermenu {
  display: none;
  height: 100%;
  padding: 20px;
  width: 30%;
  background-color: #1b3764;
}
body .sectionOne header .nav .list .hamburgermenu ul {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body .sectionOne header .nav .list .hamburgermenu ul li {
  color: rgb(27, 55, 100);
  font-size: 20px;
  font-weight: 700;
}
body .sectionOne header .nav .list .hamburgermenu i {
  width: 100%;
  color: #f6f8fc;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
}
body .sectionOne header .nav .list .hamburgericon {
  display: none;
}
body .sectionOne .welcomePage {
  height: 100%;
  width: 85%;
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 50px;
}
body .sectionOne .welcomePage .leftPage {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
body .sectionOne .welcomePage .leftPage h1 {
  font-size: 65px;
}
body .sectionOne .welcomePage .leftPage p {
  font-size: 19px;
  max-width: 100%;
}
body .sectionOne .welcomePage .leftPage i {
  font-size: 24px;
}
body .sectionOne .welcomePage .leftPage .buttons {
  display: flex;
  gap: 25px;
  align-items: center;
}
body .sectionOne .welcomePage .leftPage .buttons :first-child {
  height: 55px;
  width: 180px;
  border: none;
  background-color: rgb(255, 202, 66);
  color: rgb(27, 55, 100);
  font-size: 17px;
  font-weight: 700;
}
body .sectionOne .welcomePage .leftPage .buttons p {
  text-decoration: underline;
  font-size: 17px;
}
body .sectionOne .welcomePage .leftPage .ratings {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
body .sectionOne .welcomePage .leftPage .ratings div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .sectionOne .welcomePage .leftPage .ratings div i {
  font-size: 15px;
  color: rgb(255, 202, 66);
}
body .sectionOne .welcomePage .leftPage .ratings div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .sectionOne .welcomePage .rightPage {
  height: 100%;
  width: 50%;
  background-image: url("./css/Background.png");
  display: flex;
  justify-content: center;
  align-items: center;
}
body .sectionOne .welcomePage .rightPage .offset {
  height: 100%;
  width: 100%;
  background-color: rgb(249, 251, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
body .sectionOne .welcomePage .rightPage .offset .right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
body .sectionOne .welcomePage .rightPage .offset .right img {
  height: 100%;
  width: 80%;
}
body .sectionOne .welcomePage .rightPage .offset .darklight {
  text-align: center;
  width: 100%;
  height: 100%;
}
body .sectionOne .welcomePage .rightPage .offset img {
  height: 100%;
  width: 100%;
}
body .sectionOne .welcomePage .rightPage .offset i {
  font-size: 18px;
  color: rgb(27, 55, 100);
  max-width: 85%;
}
body .sectionOne .welcomePage .rightPage .offset .down {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .sectionOne .welcomePage .rightPage .offset .down .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .sectionOne .welcomePage .rightPage .offset .down .left div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 48%;
  height: 130px;
}
body .sectionOne .welcomePage .rightPage .offset .down .left div h5 {
  color: rgb(27, 55, 100);
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}
body .sectionOne .welcomePage .rightPage .offset .down .left p {
  color: rgb(27, 55, 100);
  font-size: 20px;
}
body .sectionOne .welcomePage .rightPage .offset .down .left i {
  color: rgb(27, 55, 100);
}
body .sectionOne .welcomePage .rightPage .offset .down .right {
  height: 163px;
  width: 240px;
  border-radius: 50%;
  background-color: rgb(231, 208, 147);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 60px;
  right: 20px;
}
body .sectionOne .welcomePage .rightPage .offset .down .right .offsetR {
  height: 145px;
  width: 145px;
  background-color: rgb(255, 202, 66);
  border-radius: 50%;
}
body .sectionOne .welcomePage .rightPage .offset .down .right .offsetR h3 {
  color: #1b3764;
}
body .sectionOne .welcomePage .rightPage .offset .down .right .offsetR i {
  color: #1b3764;
}
body .sectionTwo {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .sectionTwo .container {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding: 100px 0;
  gap: 40px;
}
body .sectionTwo .container .books {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
body .sectionTwo .container h5 {
  font-size: 45px;
  color: rgb(27, 55, 100);
}
body .sectionTwo .container .firstBook {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  gap: 10px;
}
body .sectionTwo .container .firstBook .offset {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .sectionTwo .container .firstBook .offset img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .sectionTwo .container .firstBook .offset .darklight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .sectionTwo .container .firstBook .information {
  height: 100%;
  width: 50%;
}
body .sectionTwo .container .firstBook .information .info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  gap: 15px;
}
body .sectionTwo .container .firstBook .information .info button {
  height: 65px;
  width: 220px;
  background-color: transparent;
  border: 1px solid rgb(255, 202, 66);
  color: rgb(27, 55, 100);
  font-size: 19px;
  font-weight: 700;
}
body .sectionTwo .container .firstBook .information .info h5 {
  font-size: 32px;
  font-weight: 700;
}
body .sectionTwo .container .firstBook .information .info p {
  font-size: 19px;
  color: rgb(150, 154, 160);
  max-width: 90%;
  line-height: 2;
}
body .sectionTwo .container .firstBook .information .info div {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
body .sectionTwo .container .firstBook .information .info div .page,
body .sectionTwo .container .firstBook .information .info div .length {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
body .sectionTwo .container .firstBook .information .info div .page .pages586,
body .sectionTwo .container .firstBook .information .info div .page .length10,
body .sectionTwo .container .firstBook .information .info div .length .pages586,
body .sectionTwo .container .firstBook .information .info div .length .length10 {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
body .sectionTwo .container .firstBook .information .info div .page i,
body .sectionTwo .container .firstBook .information .info div .length i {
  color: rgb(255, 202, 66);
}
body .sectionTwo .container .firstBook .information .info div .page p,
body .sectionTwo .container .firstBook .information .info div .length p {
  color: #1b3764;
  font-size: 24px;
  line-height: 1;
}
body .sectionTwo .container .firstBook .information .info div .page span,
body .sectionTwo .container .firstBook .information .info div .length span {
  color: rgb(150, 154, 160);
  font-size: 18px;
}
body .sectionTwo .container .firstBook .information .info div .page div,
body .sectionTwo .container .firstBook .information .info div .length div {
  display: flex;
  flex-direction: column;
}
body .sectionTwo .container .secondBook {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  gap: 10px;
}
body .sectionTwo .container .secondBook .offset {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .sectionTwo .container .secondBook .offset img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .sectionTwo .container .secondBook .offset .darklight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .sectionTwo .container .secondBook .information {
  height: 100%;
  width: 50%;
}
body .sectionTwo .container .secondBook .information .info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  gap: 15px;
}
body .sectionTwo .container .secondBook .information .info button {
  height: 65px;
  width: 220px;
  background-color: transparent;
  border: 1px solid rgb(255, 202, 66);
  color: rgb(27, 55, 100);
  font-size: 19px;
  font-weight: 700;
}
body .sectionTwo .container .secondBook .information .info h5 {
  font-size: 32px;
  font-weight: 700;
}
body .sectionTwo .container .secondBook .information .info p {
  font-size: 19px;
  color: rgb(150, 154, 160);
  max-width: 90%;
  line-height: 2;
}
body .sectionTwo .container .secondBook .information .info div {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
body .sectionTwo .container .secondBook .information .info div .page,
body .sectionTwo .container .secondBook .information .info div .length {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
body .sectionTwo .container .secondBook .information .info div .page .pages586,
body .sectionTwo .container .secondBook .information .info div .page .length10,
body .sectionTwo .container .secondBook .information .info div .length .pages586,
body .sectionTwo .container .secondBook .information .info div .length .length10 {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
body .sectionTwo .container .secondBook .information .info div .page i,
body .sectionTwo .container .secondBook .information .info div .length i {
  color: rgb(255, 202, 66);
}
body .sectionTwo .container .secondBook .information .info div .page p,
body .sectionTwo .container .secondBook .information .info div .length p {
  color: #1b3764;
  font-size: 24px;
  line-height: 1;
}
body .sectionTwo .container .secondBook .information .info div .page span,
body .sectionTwo .container .secondBook .information .info div .length span {
  color: rgb(150, 154, 160);
  font-size: 18px;
}
body .sectionTwo .container .secondBook .information .info div .page div,
body .sectionTwo .container .secondBook .information .info div .length div {
  display: flex;
  flex-direction: column;
}
body .sectionTree {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 248, 255);
}
body .sectionTree .container {
  height: 100%;
  width: 85%;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 100px 0;
  align-items: center;
}
body .sectionTree .container .img {
  height: 100%;
  width: 50%;
  display: flex;
}
body .sectionTree .container .img img {
  height: 100%;
  width: 100%;
}
body .sectionTree .container .info {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: center;
  gap: 30px;
}
body .sectionTree .container .info h3 {
  font-size: 45px;
  font-weight: 700;
  color: #1b3764;
}
body .sectionTree .container .info p {
  font-size: 19px;
  color: #969aa0;
  max-width: 100%;
}
body .sectionTree .container .info .about {
  display: flex;
  gap: 30px;
  align-items: center;
}
body .sectionTree .container .info .about .firstC span,
body .sectionTree .container .info .about .secondC span,
body .sectionTree .container .info .about .thirdC span {
  font-size: 18px;
  color: #969aa0;
  background-color: transparent;
}
body .sectionTree .container .info .about div p {
  font-size: 45px;
  color: rgb(27, 55, 100);
  font-weight: 700;
}
body .sectionTree .container .info .contact {
  display: flex;
  height: 100%;
  width: 85%;
  background-color: rgb(27, 55, 100);
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
  gap: 30px;
}
body .sectionTree .container .info .contact img {
  height: 100%;
  width: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .sectionTree .container .info .contact .inf {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
body .sectionTree .container .info .contact .inf p {
  font-size: 19px;
  font-weight: 700;
  color: rgb(255, 202, 66);
  max-width: 100%;
}
body .sectionTree .container .info .contact .inf span {
  font-size: 19px;
  color: rgb(180, 199, 231);
  max-width: 100%;
}
body .sectionFour {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .sectionFour .container {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 85%;
  height: 100%;
}
body .sectionFour .container h5 {
  color: rgb(27, 55, 100);
  font-size: 45px;
  font-weight: 700;
}
body .sectionFour .container .line {
  width: 50px;
  height: 3px;
  background-color: rgb(255, 202, 66);
}
body .sectionFour .container .book {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  flex-wrap: wrap;
}
body .sectionFour .container .book div {
  height: 100%;
  width: 21%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
body .sectionFour .container .book h4 {
  font-size: 24px;
  color: rgb(27, 55, 100);
}
body .sectionFour .container .book p {
  color: rgb(150, 154, 160);
  font-size: 18px;
}
body .sectionFour .container .book .img1 {
  height: 90px;
  width: 90px;
}
body .sectionFour .container .book .img2 {
  height: 90px;
  width: 200px;
}
body .sectionFour .container .book .img3 {
  height: 110px;
  width: 180px;
}
body .sectionFour .container .book .img4 {
  height: 90px;
  width: 90px;
}
body .sectionFive {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 55, 100);
}
body .sectionFive .container {
  height: 100%;
  padding: 60px 0;
  width: 85%;
  display: flex;
  flex-direction: row;
  background-color: rgb(27, 55, 100);
  align-items: center;
}
body .sectionFive .container .img {
  width: 50%;
  height: 100%;
}
body .sectionFive .container .img img {
  height: 100%;
  width: 100%;
}
body .sectionFive .container .info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .sectionFive .container .info h5 {
  font-size: 45px;
  font-weight: 700;
}
body .sectionFive .container .info div {
  height: 3px;
  width: 50px;
  background-color: rgb(255, 202, 66);
}
body .sectionFive .container .info p {
  font-size: 19px;
  color: rgb(180, 199, 231);
  max-width: 70%;
}
body .sectionFive .container .info button {
  height: 65px;
  width: 220px;
  color: #f6f8fc;
  background-color: transparent;
  border: 1px solid rgb(255, 202, 66);
  font-size: 19px;
  font-weight: 700;
}
body .sectionSix {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .sectionSix .container {
  width: 85%;
  height: 100%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
body .sectionSix .container h5 {
  font-size: 40px;
  font-weight: 700;
  color: rgb(27, 55, 100);
}
body .sectionSix .container .line {
  width: 70px;
  height: 3px;
  background-color: rgb(255, 202, 66);
}
body .sectionSix .container .learn {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body .sectionSix .container .learn .left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
body .sectionSix .container .learn .left .box {
  height: 260px;
  width: 45%;
  background-color: rgb(244, 248, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  gap: 10px;
}
body .sectionSix .container .learn .left .box div {
  font-size: 22px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(255, 202, 66);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(27, 55, 100);
}
body .sectionSix .container .learn .left .box p {
  font-size: 24px;
  max-width: 90%;
  color: rgb(27, 55, 100);
}
body .sectionSix .container .learn .right {
  height: 100%;
  width: 50%;
}
body .sectionSix .container .learn .right img {
  height: 100%;
  width: 100%;
}
body .sectionSeven {
  height: 100%;
  width: 100%;
  background-color: rgb(244, 248, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .sectionSeven .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 85%;
  height: 100%;
  padding: 100px 0;
}
body .sectionSeven .container h5 {
  font-size: 40px;
  font-weight: 700;
  color: rgb(27, 55, 100);
}
body .sectionSeven .container .line {
  height: 3px;
  width: 55px;
  background-color: rgb(255, 202, 66);
}
body .sectionSeven .container .boxes {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
body .sectionSeven .container .boxes .box {
  height: 100%;
  width: 43%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  justify-content: center;
  gap: 15px;
}
body .sectionSeven .container .boxes .box .pl {
  display: flex;
  gap: 30px;
}
body .sectionSeven .container .boxes .box h1 {
  font-size: 24px;
  font-weight: 700;
  color: rgb(27, 55, 100);
}
body .sectionSeven .container .boxes .box p {
  font-size: 18px;
  font-weight: 400;
  color: rgb(150, 154, 160);
}
body .sectionSeven .container .boxes .box .pages {
  display: flex;
  align-items: center;
  gap: 10px;
}
body .sectionSeven .container .boxes .box .pages i {
  color: rgb(255, 202, 66);
}
body .sectionSeven .container .boxes .box .pages p {
  font-size: 18px;
  font-weight: 700;
  color: rgb(27, 55, 100);
}
body .sectionSeven .container .boxes .box .pages span {
  font-size: 18px;
  color: rgb(150, 154, 160);
}
body .sectionSeven .container .boxes .box .length {
  display: flex;
  align-items: center;
  gap: 10px;
}
body .sectionSeven .container .boxes .box .length i {
  color: rgb(255, 202, 66);
}
body .sectionSeven .container .boxes .box .length p {
  font-size: 18px;
  font-weight: 700;
  color: rgb(27, 55, 100);
}
body .sectionSeven .container .boxes .box .length span {
  font-size: 16px;
  color: rgb(150, 154, 160);
}
body .sectionSeven .container button {
  height: 65px;
  width: 30%;
  background-color: rgb(255, 202, 66);
  border: none;
  color: rgb(27, 55, 100);
  font-size: 17px;
  font-weight: 700;
}
body .sectionSeven .container .short {
  color: rgb(150, 154, 160);
  font-size: 17px;
  max-width: 22%;
  text-align: center;
}
body .sectionNine {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 248, 255);
}
body .sectionNine .container {
  height: 100%;
  width: 85%;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
body .sectionNine .container h5 {
  font-size: 45px;
  color: #1b3764;
}
body .sectionNine .container .line {
  height: 3px;
  width: 60px;
  background-color: rgb(255, 202, 66);
}
body .sectionNine .container .articles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
body .sectionNine .container .articles .box {
  height: 500px;
  width: 31%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body .sectionNine .container .articles .box .info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .sectionNine .container .articles .box img {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .sectionNine .container .articles .box h1 {
  font-size: 24px;
  color: rgb(27, 55, 100);
  font-weight: 700;
  padding: 0 15px;
}
body .sectionNine .container .articles .box p {
  font-size: 19px;
  color: rgb(150, 154, 160);
  padding: 0 15px;
}
body .sectionNine .container .articles .box .read {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
body .sectionNine .container .articles .box .read button {
  height: 25px;
  width: 90px;
  color: rgb(27, 55, 100);
  font-size: 15px;
  font-weight: 700;
  border: 1px solid rgb(27, 55, 100);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
}
body .sectionNine .container .articles .box .read span {
  font-size: 15px;
  color: rgb(27, 55, 100);
}
body .sectionTen {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .sectionTen .container {
  height: 100%;
  width: 85%;
  background-color: rgb(255, 202, 66);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 100px 0;
}
body .sectionTen .container h5 {
  color: rgb(27, 55, 100);
  font-size: 45px;
  font-weight: 700;
}
body .sectionTen .container .line {
  height: 3px;
  width: 60px;
  background-color: rgb(27, 55, 100);
}
body .sectionTen .container p {
  font-size: 19px;
  color: rgb(27, 55, 100);
  max-width: 40%;
  text-align: center;
}
body .sectionTen .container .input {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body .sectionTen .container .input input {
  height: 50px;
  width: 450px;
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(150, 154, 160);
  font-size: 15px;
}
body .sectionTen .container .input button {
  height: 50px;
  width: 260px;
  background-color: rgb(27, 55, 100);
  color: #f6f8fc;
  font-size: 15px;
  border: none;
}
body footer {
  background-color: rgb(27, 55, 100);
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer .container {
  background-color: rgb(27, 55, 100);
  height: 500px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body footer .container .sosialMedia {
  display: flex;
  flex-direction: column;
}
body footer .container .sosialMedia .pageS {
  display: flex;
  align-items: center;
  gap: 5px;
}
body footer .container .sosialMedia .pageS h2 {
  font-size: 28px;
}
body footer .container .sosialMedia .pageS img {
  height: 25px;
  width: 25px;
}
body footer .container .sosialMedia .media {
  display: flex;
  gap: 10px;
}
body footer .container .sosialMedia .media div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid rgb(255, 202, 66);
}
body footer .container .explore {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
body footer .container .explore h3 {
  font-size: 22px;
  font-weight: 700;
}
body footer .container .explore div ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: circle;
}
body footer .container .explore div ul li {
  font-size: 18px;
  color: rgb(180, 199, 231);
}
body footer .container .keep {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body footer .container .keep h3 {
  font-size: 22px;
}
body footer .container .keep .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
body footer .container .keep .info p {
  font-size: 18px;
  font-weight: 700;
}
body footer .container .keep .info span {
  font-size: 18px;
  font-weight: 400;
  color: rgb(180, 199, 231);
}
body footer .container .keep .info .address,
body footer .container .keep .info .mail,
body footer .container .keep .info .phone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 1280px) {
  body .sectionOne header .nav .list ul {
    gap: 30px;
  }
  body .sectionOne .welcomePage .rightPage .offset i {
    font-size: 16px;
  }
  body .sectionOne .welcomePage .leftPage h1 {
    font-size: 50px;
  }
  body .sectionOne .welcomePage .leftPage {
    gap: 30px;
  }
  body .sectionTwo .container .firstBook {
    width: 100%;
    gap: 0;
  }
  body .sectionTwo .container .firstBook .offset img {
    width: 100%;
    height: 100%;
  }
  body .sectionTwo .container .secondBook {
    width: 100%;
  }
  body .sectionTwo .container .secondBook .offset img {
    width: 100%;
    height: 100%;
  }
  body .sectionTwo .container .firstBook .information .info h5 {
    font-size: 28px;
    font-weight: 700;
  }
  body .sectionTwo .container .firstBook .information .info p {
    font-size: 16px;
    line-height: 1.5;
  }
  body .sectionTwo .container .firstBook .information .info div .page p, body .sectionTwo .container .firstBook .information .info div .length p {
    font-size: 18px;
  }
  body .sectionTwo .container .firstBook .information .info div {
    gap: 8%;
  }
  body .sectionTwo .container .firstBook .information .info div .page span, body .sectionTwo .container .firstBook .information .info div .length span {
    color: rgb(150, 154, 160);
    font-size: 16px;
  }
  body .sectionTwo .container .firstBook .information .info button {
    height: 50px;
    width: 150px;
    font-size: 16px;
  }
  body .sectionTwo .container .firstBook .information .info {
    gap: 10px;
  }
  body .sectionTwo .container .secondBook .information .info h5 {
    font-size: 28px;
    font-weight: 700;
  }
  body .sectionTwo .container .secondBook .information .info p {
    font-size: 16px;
  }
  body .sectionTwo .container .secondBook .information .info div .page p, body .sectionTwo .container .secondBook .information .info div .length p {
    font-size: 18px;
  }
  body .sectionTwo .container .secondBook .information .info div {
    gap: 8%;
  }
  body .sectionTwo .container .secondBook .information .info div .page span, body .sectionTwo .container .secondBook .information .info div .length span {
    color: rgb(150, 154, 160);
    font-size: 16px;
  }
  body .sectionTwo .container .secondBook .information .info button {
    height: 50px;
    width: 150px;
    font-size: 16px;
  }
  body .sectionTwo .container .secondBook .information .info {
    gap: 10px;
  }
  body .sectionTwo .container .secondBook {
    gap: 0;
  }
  body .sectionTwo .container .books {
    gap: 20px;
  }
  body .sectionTwo .container h5 {
    font-size: 40px;
  }
  body .sectionTree .container .info h3 {
    font-size: 40px;
  }
  body .sectionTree .container .info p {
    font-size: 18px;
  }
  body .sectionTree .container .info .about div p {
    font-size: 40px;
  }
  body .sectionTree .container .info .about .firstC span, body .sectionTree .container .info .about .secondC span, body .sectionTree .container .info .about .thirdC span {
    font-size: 16px;
  }
  body .sectionTree .container .info .contact img {
    height: 100%;
    width: 30%;
  }
  body .sectionTree .container .info .contact .inf p {
    font-size: 18px;
  }
  body .sectionTree .container .info .contact .inf span {
    font-size: 16px;
  }
  body .sectionFour .container h5 {
    font-size: 40px;
  }
  body .sectionFour .container .book h4 {
    font-size: 20px;
  }
  .book p {
    font-size: 16px;
  }
  body .sectionFive .container .info h5 {
    font-size: 40px;
  }
  body .sectionFive .container .info p {
    font-size: 16px;
  }
  body .sectionFive .container .info button {
    height: 50px;
    width: 180px;
    font-size: 16px;
  }
  body .sectionSix .container .learn .left .box p {
    font-size: 22px;
    max-width: 85%;
  }
  body .sectionSix .container .learn .left .box div {
    font-size: 20px;
    height: 40px;
    width: 40px;
  }
  body .sectionSix .container .learn .right img {
    height: 90%;
    width: 90%;
  }
  body .sectionSix .container .learn .left .box {
    width: 44%;
    height: 215px;
  }
  body .sectionSeven .container button {
    height: 50px;
    width: 30%;
  }
  body .sectionNine .container h5 {
    font-size: 40px;
  }
  body .sectionTen .container h5 {
    font-size: 40px;
  }
}
@media screen and (max-width: 1024px) {
  body .sectionOne header .nav .list {
    gap: 14px;
  }
  body .sectionOne header .nav .list ul {
    gap: 10px;
  }
  body .sectionOne header .nav .list button {
    height: 50px;
    width: 180px;
  }
  body .sectionFour .container .book div {
    width: 27%;
  }
  body .sectionOne .welcomePage .leftPage h1 {
    font-size: 45px;
  }
  body .sectionOne .welcomePage .leftPage .buttons :first-child {
    height: 50px;
    width: 160px;
  }
  body .sectionTwo .container .books {
    flex-wrap: wrap;
  }
  body .sectionTwo .container .firstBook .offset img {
    width: 70%;
    height: 100%;
  }
  body .sectionTwo .container .firstBook .information .info {
    gap: 20px;
  }
  body .sectionTwo .container .firstBook .information .info p {
    font-size: 18px;
  }
  body .sectionTwo .container .secondBook .offset img {
    width: 70%;
    height: 100%;
  }
  body .sectionTwo .container .secondBook .information .info {
    gap: 20px;
  }
  body .sectionTwo .container .secondBook .information .info p {
    font-size: 18px;
  }
  body .sectionSix .container .learn {
    flex-direction: column;
  }
  body .sectionSix .container .learn .left {
    width: 100%;
    justify-content: space-between;
  }
  body .sectionSix .container .learn .left .box {
    width: 46%;
  }
  body .sectionSix .container .learn .right {
    width: 100%;
  }
  body .sectionSix .container .learn .right img {
    height: 450px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .sectionSeven .container .boxes .box .length span {
    font-size: 15px;
  }
  body .sectionSeven .container .short {
    max-width: 40%;
  }
  body .sectionNine .container .articles {
    justify-content: space-between;
  }
  body .sectionNine .container .articles .box {
    width: 48%;
  }
}
@media screen and (max-width: 912px) {
  body .sectionOne {
    gap: 30px;
  }
  body .sectionOne header .nav .list .hamburgericon {
    display: block;
    font-size: 18px;
  }
  body .sectionOne header .nav .list .hamburgermenu {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    z-index: 999;
  }
  body .sectionOne header .nav .pages .sosial {
    display: none;
  }
  body .sectionOne header .nav .list ul {
    display: none;
  }
  body .sectionOne header .nav .list .cart {
    display: none;
  }
  body .sectionOne header .nav .list button {
    display: none;
  }
  body .sectionOne .welcomePage {
    flex-direction: column;
  }
  body .sectionOne .welcomePage .leftPage {
    width: 100%;
    align-items: center;
    gap: 20px;
  }
  body .sectionOne .welcomePage .rightPage {
    display: none;
  }
  body .sectionOne .welcomePage .leftPage h1 {
    font-size: 55px;
    text-align: center;
  }
  body .sectionTwo .container .secondBook .offset img {
    width: 90%;
  }
  body .sectionTwo .container .firstBook .offset img {
    width: 90%;
    height: 100%;
  }
  body .sectionOne .welcomePage .leftPage p {
    text-align: center;
  }
  body .sectionOne .welcomePage .leftPage .buttons :first-child {
    width: 180px;
  }
  body .sectionOne .welcomePage .leftPage .ratings {
    gap: 55px;
  }
  body .sectionTree .container {
    flex-direction: column-reverse;
    padding: 30px 0;
  }
  body .sectionTree .container .img {
    width: 100%;
  }
  body .sectionTree .container .info {
    width: 100%;
    align-items: center;
  }
  body .sectionTree .container .img img {
    height: 500px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .sectionFour .container .book div {
    width: 28%;
  }
  body .sectionTwo .container .firstBook .information .info button {
    width: 180px;
  }
  body .sectionTwo .container .secondBook .information .info button {
    width: 180px;
  }
  body .sectionSeven .container .boxes .box {
    width: 42%;
  }
  body .sectionSeven .container .boxes .box .pages {
    gap: 5px;
  }
  body .sectionSeven .container .boxes .box .length {
    gap: 5px;
  }
  body .sectionSeven .container .boxes .box .pl {
    gap: 10px;
  }
  body .sectionNine .container .articles .box {
    width: 47%;
  }
  body .sectionSeven .container button {
    width: 240px;
  }
  body .sectionTen .container p {
    max-width: 70%;
  }
  body .sectionTen .container .input button {
    width: 240px;
  }
  body .sectionTen .container .input input {
    width: 240px;
  }
  body footer {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  body .sectionTwo .container .firstBook .offset img {
    width: 100%;
  }
  body .sectionTwo .container .firstBook .information .info p {
    line-height: 1.2;
  }
  body .sectionTwo .container .firstBook .information .info {
    gap: 10px;
  }
  body .sectionTwo .container .secondBook .information .info p {
    line-height: 1.2;
  }
  body .sectionTwo .container .secondBook .information .info {
    gap: 10px;
  }
  body .sectionTwo .container {
    padding: 50px 0;
  }
  body .sectionFour .container {
    padding: 50px 0;
  }
  body .sectionSix .container .learn .left .box {
    width: 44%;
  }
  body .sectionSix .container {
    padding: 50px 0;
  }
  body .sectionSeven .container .boxes .box {
    width: 39%;
  }
  body .sectionSeven .container .boxes .box .pl {
    gap: 5px;
    flex-direction: column;
  }
  body .sectionSeven .container {
    padding: 50px 0;
  }
  body .sectionFour .container .book div {
    width: 43%;
  }
  body .sectionNine .container {
    padding: 50px 0;
  }
  body .sectionNine .container .articles .box {
    width: 46%;
  }
  body .sectionNine .container .articles .box p {
    font-size: 16px;
  }
  body .sectionNine .container .articles .box h1 {
    font-size: 19px;
  }
  body .sectionNine .container .articles .box .read span {
    font-size: 13px;
  }
  body .sectionNine .container .articles .box .read button {
    height: 25px;
    width: 67px;
    font-size: 13px;
  }
  body .sectionNine .container .articles .box {
    height: 400px;
  }
}
@media screen and (max-width: 540px) {
  body .sectionOne header .nav .list .hamburgermenu {
    height: 100%;
    padding: 20px;
    width: 100%;
  }
  body .sectionOne header .nav .list .hamburgermenu.show {
    display: block;
  }
  body .sectionTwo .container .firstBook {
    flex-direction: column;
  }
  body .sectionTwo .container .firstBook .offset {
    width: 100%;
  }
  body .sectionTwo .container .firstBook .information {
    width: 100%;
    gap: 30px;
  }
  body .sectionTwo .container .secondBook {
    flex-direction: column;
  }
  body .sectionTwo .container .secondBook .offset {
    width: 100%;
  }
  body .sectionTwo .container .secondBook .information {
    width: 100%;
    gap: 30px;
  }
  body .sectionTwo .container .books {
    gap: 50px;
  }
  body .sectionOne .welcomePage .leftPage h1 {
    font-size: 42px;
  }
  body .sectionTwo .container h5 {
    font-size: 35px;
    text-align: center;
  }
  body .sectionTree .container .info h3 {
    font-size: 35px;
  }
  body .sectionTree .container .info .about div p {
    font-size: 35px;
  }
  body .sectionFour .container h5 {
    font-size: 35px;
    text-align: center;
  }
  body .sectionFour .container .book div {
    width: 100%;
  }
  body .sectionFive .container .info h5 {
    font-size: 35px;
    text-align: center;
  }
  body .sectionFive .container {
    display: flex;
    flex-direction: column;
  }
  body .sectionFive .container .info {
    width: 100%;
    align-items: center;
  }
  body .sectionFive .container .info p {
    max-width: 100%;
  }
  body .sectionFive .container .img {
    width: 100%;
  }
  body .sectionFive .container {
    gap: 40px;
  }
  body .sectionSix .container h5 {
    font-size: 35px;
    text-align: center;
  }
  body .sectionSix .container .learn .left .box {
    width: 100%;
  }
  body .sectionSeven .container h5 {
    font-size: 35px;
    text-align: center;
  }
  body .sectionSeven .container .boxes .box {
    width: 100%;
  }
  body .sectionSeven .container .boxes .box .pl {
    flex-direction: row;
    gap: 30px;
  }
  body .sectionNine .container h5 {
    font-size: 35px;
    text-align: center;
  }
  body .sectionNine .container .articles .box {
    width: 100%;
  }
  body .sectionNine .container .articles .box h1 {
    font-size: 22px;
  }
  body .sectionTen .container p {
    max-width: 100%;
  }
  body .sectionSeven .container .boxes .box .pl {
    gap: 0;
    justify-content: space-between;
  }
  body .sectionSeven .container .short {
    max-width: 100%;
  }
  body .sectionNine .container .articles .box {
    height: 100%;
  }
  body .sectionTen .container h5 {
    font-size: 35px;
    text-align: center;
  }
  body .sectionSix .container .learn .right img {
    height: 400px;
  }
  body .sectionTree .container .img img {
    height: 400px;
  }
}
@media screen and (max-width: 375px) {
  body .sectionOne header .nav .pages .sosial div {
    height: 35px;
    width: 35px;
  }
  body .sectionOne .welcomePage .leftPage h1 {
    font-size: 31px;
  }
  body .sectionOne .welcomePage .leftPage .ratings {
    gap: 0;
    justify-content: space-between;
    width: 100%;
  }
  body .sectionTree .container .info .about {
    justify-content: space-between;
    width: 100%;
    gap: 5px;
  }
  body .sectionTree .container .info .contact .inf span {
    font-size: 13px;
  }
  body .sectionTwo .container h5 {
    font-size: 30px;
    text-align: center;
  }
  body .sectionTwo .container .firstBook .information .info h5 {
    font-size: 26px;
  }
  body .sectionTwo .container .secondBook .information .info h5 {
    font-size: 26px;
  }
  body .sectionTree .container .info h3 {
    font-size: 30px;
  }
  body .sectionTree .container .info .about div p {
    font-size: 30px;
  }
  body .sectionTree .container .img img {
    height: 300px;
  }
  body .sectionFour .container h5 {
    font-size: 30px;
  }
  body .sectionFive .container .info h5 {
    font-size: 30px;
  }
  body .sectionSix .container h5 {
    font-size: 30px;
  }
  body .sectionSix .container .learn .right img {
    height: 300px;
  }
  body .sectionSeven .container h5 {
    font-size: 30px;
  }
  body .sectionSeven .container .boxes .box .pl {
    flex-direction: column;
    gap: 5px;
  }
  body .sectionNine .container h5 {
    font-size: 30px;
  }
  body .sectionTen .container h5 {
    font-size: 30px;
  }
  .leftPage p {
    font-size: 16px;
  }
}/*# sourceMappingURL=index.css.map */